body {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh; /* Ensure the body takes up at least the height of the viewport */
  margin: 0;
}

.content {
  flex: 1; /* Allow content to expand to fill remaining space */
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
}

.navbar {
  /* background-color: #DDA15E; */
  color: #fff;
  padding: 20px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.gradient-custom {
  /* fallback for old browsers */
  background: #6a11cb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 0.9), rgba(37, 117, 252, 0.9));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(106, 17, 203, 0.9), rgba(37, 117, 252, 0.9));
}

.main-content {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  margin: 50px 0;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  animation: logoAnimation 1s ease infinite alternate; /* Apply the animation */
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

@keyframes logoAnimation {
  from {
    transform: scale(1);
    color: #333;
  }
  to {
    transform: scale(1.1);
    color: #283618;
  }
}

.logo a {
  color: #fff;
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 19px;
  font-weight: bold;
  transition: 0.4s ease;
}

nav ul li a:hover {
  color: #fff;
}

.search {
  position: relative;
}

.search input {
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #fff;
  color: #fff;
}

.search button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #444;
  color: #fff;
  font-weight: bold;
}

.search button:hover {
  color: #3A86FF;
}

.hero {
  background-color: #FEFAE0;
  padding: 70px 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.hero h1 {
  font-size: 48px;
  color: #000;;
}

.hero p {
  font-size: 24px;
  color: #000;;
  margin-bottom: 30px;
}

.strikethrough {
  text-decoration: line-through;
  color: red;
}

.list {
  text-align: center;
}

.items {
  row-gap: 30px;
  flex-wrap: wrap;
  display: flex;
  margin: 40px;
  column-gap: 40px;
}

.item {
  flex: 1 0 calc(25% - 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.item img {
  max-width: 100%;
  margin-bottom: 10px;
}

.item h3 {
  font-size: 24px;
  margin-top: 0px;
}

.item p {
  margin-top: 5px;
  color: #666;
}

.btn {
  display: inline-block;
  padding: 12px 30px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.4s ease;
}

.btn:hover {
  background-color: #3A86FF;
}

.special-offers-container {
  background-color: #2a9d8f;
  padding: 40px 0;
  text-align: center;
}

.row {
  width: 1300px;
  margin: 0 auto;
}

.inner-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  row-gap: 20px;
  background-color: #FEFAE0;
  padding: 40px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.flex-row {
  flex-direction: row;
}

footer .inner-container {
  justify-content: space-between;
  background: transparent;
  box-shadow: none;
}

.offers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.offer {
  text-align: center;
}

.offer img {
  max-width: 100%;
  height: auto;
}

.offer h3 {
  font-size: 18px;
  margin: 10px 0;
}

.offer p {
  font-size: 14px;
  color: #666;
}



.testimonials-container {
  background-color: #2a9d8f;
  display: flex;
  justify-content: center;
}

.testimonials-container .inner-container {
  background-color: #f9f9f9;
  padding: 200px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin: 40px;
}

/* Contact form */

.contact-form {
  width: 50%;
  padding-right: 20px;
}

.map-container {
  width: 50%;
  padding-left: 10px;
}

.map-container iframe {
  width: 100%;
  height: 100%;
}

.contact-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

textarea {
  resize: vertical;
}

.submit-btn {
  background-color: #333;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Added transition for animation */
}

.submit-btn:hover {
  background-color: #3A86FF;
}

.submit-btn:active {
  transform: translateY(2px);
}

#submission-counter {
  display: flex;
  flex-direction: row-reverse;
}

/* Footer */
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* fallback for old browsers */
  background: #6a11cb;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 0.9), rgba(37, 117, 252, 0.9));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(106, 17, 203, 0.9), rgba(37, 117, 252, 0.9));
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-links h3,
.social-links h3,
.contact-details h3,
.newsletter-form h3 {
  flex-basis: calc(25% - 20px);
  margin-bottom: 10px;
}

.footer-links ul,
.social-links ul {
  list-style: none;
  padding: 0;
}

.footer-links a,
.social-links a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover,
.social-links a:hover {
  color: #283618;
}

.contact-details p {
  margin-bottom: 10px;
}

.newsletter-form input[type="email"] {
  margin-top: 24px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 200px;
  margin-right: 10px;
}

.newsletter-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.newsletter-form button:hover {
  background-color: #3A86FF;
}

/* Slideshow container */
.slideshow-container {
  /* max-width: 350px; */
  position: relative;
  margin: auto;
}

/* Hide all slides */
.slideshow-container .item {
  display: block;
  width: calc(25% - 20px);
  margin: 10px;
  float: left;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #3A86FF;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Active dot */
.active,
.dot:hover {
  background-color: #717171;
}

.ag-format-container {
  width: 1142px;
  max-width: 100%;
  margin: 0 auto;
}

.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 50px 0;
}

.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 28px;
}

.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #121212;

  overflow: hidden;

  position: relative;
}

.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #FFF;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}

.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;

  overflow: hidden;

  font-weight: bold;
  font-size: 30px;
  color: #FFF;

  z-index: 2;
  position: relative;
}

.ag-courses-item_date-box {
  font-size: 18px;
  color: #FFF;

  z-index: 2;
  position: relative;
}

.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;

  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease
}

.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;
  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;
  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}
.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
}
.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #4c49ea;
}



@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}
@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
}


@media screen and (max-width: 1300px) {
  .row {
    max-width: 100%;
  }

  .main-content {
    row-gap: 10px;
    margin: 0;
  }

  .inner-container {
    box-shadow: none;
    background: transparent;
  }
}

@media screen and (max-width: 768px) {
  .inner-container {
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 20px;
    padding: 20px;
  }

  .contact-form,
  .map-container {
    width: 100%;
  }

  .map-container iframe {
    height: 300px;
  }

  .navbar {
    padding: 20px;
  }

  .search {
    display: none;
  }

  .items {
    flex-direction: column;
    row-gap: 20px;
  }
}

@media screen and (max-width: 567px) {
  footer .inner-container {
    flex-wrap: wrap; /* Allow items to wrap */
  }

  footer .inner-container .footer-links {
    margin: 5px; /* Add margin between items */
    /* Add specific styling as needed */
  }
}

@media screen and (max-width: 500px) {
  nav ul {
    flex-direction: column;
  }
}

